{% extends 'layout.html' %}
{% block content %}
<div class="card">
    <h2>Encrypt a File</h2>
    <form action="/process" method="post" enctype="multipart/form-data">
        <input type="file" name="file" required><br>
        <label>Choose Algorithm:</label>
        <select name="method" required>
            <option value="caesar">Caesar Cipher</option>
            <option value="aes">AES</option>
            <option value="rsa">RSA</option>
            <option value="vigenere">Vigenère</option>
            <option value="des">DES</option>
        </select>
        <label>Key (if required):</label>
        <input type="text" name="key">
        <label>Shift (for Caesar only):</label>
        <input type="number" name="shift" value="3">
        <input type="hidden" name="operation" value="encrypt">
        <br><br>
        <button class="button" type="submit">Encrypt</button>
    </form>
</div>
{% endblock %}
